<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toronto Restaurant Location Analysis</title>
    <script src = "{{ url_for('static', filename = 'data/neighbourhoods.geojson')}}"></script>
    <link rel="icon" href="data:;base64,=">
    
    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

     <!-- d3 JavaScript -->
     <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
     <script src="https://d3js.org/d3.v5.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

     <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3Style.css') }}">

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Muli:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Bree+Serif" rel="stylesheet">
</head>

<body>

        <!-- Navbar -->
        <!-- <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <span class="navbar-brand text-purple mb-0 h1">Toronto Restuarant Location Analysis</span>
            </div>
          </nav> -->
        <!-- Navbar Ends -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center"></div>
        </div>
    <!-- Intro -->
    <div class="row">
        <h2 class="title display-5">Toronto New Restaurant Location Analysis</h2>
        <hr>
    </div>
    <!-- Story -->
    <div class="col-md-12">
        <div class="single-post-content-wrapper p-3">
          <p class="about"> 
        Where to open a new restaurant? Choosing a new restaurant location is the most important, at the same time, the most difficult decision throughout the whole process. This dashboard gives an insight at restaurant data as well as neighbourhood information in Toronto. The goal of this analysis is to help new restaurant owners decide as to where the best placement of a new restaurant could be considering ethnicity, local competition, income and crime rate per neighborhood to help determine whether a restaurant could potentially be profitable or not for each neighborhood.
         </p>
        </div>
    <!-- </div> -->
    </div>
        <!-- first section -->
        <div class="row plotsection">
            <div class="col-md-7">
                <h2>Select a Neighbourhood in Toronto</h2>
                <hr>
                <div id="map"></div>
            </div>
            <div class="col-md-5">                
                    <h2>Ethnicity</h2>
                    <hr>
                    <div id="ethnicity-plot"></div>
                </div>
        </div>
    
        <div class="row plotsection">

            <div class="col-md-7">
                <h2>Restaurant Categories</h2>
                <hr>
                <div id="restaurant-plot"></div>
            </div>
            <div class="col-md-5">                
                <h2>Restaurant Price Ranges</h2>
                <hr>
                <div id="pricerange-plot"></div>
            </div>
        </div> 

        <div class="row scattersection">
            <div class="col-md-3">
                <!-- <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">Selected Neighbourhood Info</h3>
                    </div>
                    <div id="selected-info" class="panel-body"></div>
                  </div> -->
                
                  <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <h5>Selected Neighborhood Info</h5>
                    </div>
                    <div id="selected-info" class="card-body"></div>
                  </div>

             </div>
            <div class="col-md-9">
                <h2>Neighbourhood Overview</h2>
                <hr>
                <div id="scatter"></div>
             </div>
             
        </div>
    </div>
 <!-- Footer -->
 <footer class="footerstyle">Project Toronto Analysis &copy; 2021 </footer>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

<!-- API key -->
    <script type="text/javascript" src="/static/js/config.js"></script>
<!-- JS -->
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script src="{{ url_for('static', filename='js/scatter.js') }}"></script>


</body>
</html>
