body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 150px;
    padding-right: 150px;
}

h1 {
    text-align: center;
}

#map,
body,
html {
height: 100%;
}         
#map{
height: 500px;
  }
  
h1 {
text-align: center;
}
p {
font-size: 8px;
color: rgb(19, 4, 87);
}
  
